body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1f1f1;
  }
  
  .calculator {
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #444;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  .calculator #display {
    width: 94%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
  }
  
  .calculator .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .calculator button {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .calculator button:hover {
    background-color: #666;
  }
  
  .calculator .operator {
    background-color: #FF9800;
    color: #fff;
  }
  
  .calculator .operator:hover {
    background-color: #FFB74D;
  }
  